<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Game tebak Angka
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  nama : Michael Samuel
  <br>
  NRP  : c14180035
  <br>
 input angka :  <input type="text" [(ngModel)]="num">
 <br>
 rand angka :  <input type="text" [(ngModel)]="rand">
 <br>
 <ion-button (click)="result()">Submit</ion-button>
 <br>
 {{test}}
 <ng-template *ngIf="betul; then templatetrue; else templatefalse"></ng-template>

  <ng-template #templatetrue>
    <img src="assets/icon/getImage.jpg">
  </ng-template>
</ion-content>